<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Store:etc/config.xsd">
    <default>
        <payment>
            <virementmaitrise>
                <debug>0</debug>
                <active>0</active>
                <model>VirementmaitriseFacade</model>
                <payment_action>initialize</payment_action>
                <can_use_internal>1</can_use_internal>
                <can_use_checkout>1</can_use_checkout>
                <can_initialize>1</can_initialize>
                <can_refund>1</can_refund>
                <can_refund_partial_per_invoice>1</can_refund_partial_per_invoice>
                <is_gateway>1</is_gateway>
                <is_offline>0</is_offline>
                <order_status>new</order_status>
                <currency>EUR</currency>
                <sort_order>0</sort_order>
                <title>Virement Maitrisé</title>
                <allowspecific>0</allowspecific>
                <specificcountry>FR</specificcountry>
                <environment>sandbox</environment>
                <virementmaitrise_app_secret_sandbox backend_model="Magento\Config\Model\Config\Backend\Encrypted"/>
                <virementmaitrise_app_secret_production backend_model="Magento\Config\Model\Config\Backend\Encrypted"/>
                <new_order_status>pending</new_order_status>
                <payment_created_status>processing</payment_created_status>
                <order_created_status>virementmaitrise_order_created</order_created_status>
                <payment_pending_status>pending_payment</payment_pending_status>
                <payment_overpaid_status>virementmaitrise_overpaid</payment_overpaid_status>
                <payment_partial_status>virementmaitrise_partial</payment_partial_status>
                <payment_failed_status>canceled</payment_failed_status>
                <refunded_status>virementmaitrise_refunded</refunded_status>
                <partial_refund_status>virementmaitrise_partial_refund</partial_refund_status>
                <refund_statuses_active>0</refund_statuses_active>
                <expiration_active>0</expiration_active>
                <expiration_after>10</expiration_after>
                <invoicing_active>1</invoicing_active>
                <alternative_method_active>0</alternative_method_active>
                <alternative_method>qrcode</alternative_method>
                <checkout_design_selection>it</checkout_design_selection>
                <custom_reconciliation_field_active>0</custom_reconciliation_field_active>
            </virementmaitrise>
        </payment>
    </default>
</config>
