<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:Event/etc/events.xsd">
    <event name="admin_system_config_changed_section_payment">
        <observer name="virementmaitrise_admin_system_config_changed_section_payment" instance="Virementmaitrise\HyvaPayment\Observer\ConfigObserver" />
    </event>
    <event name="sales_order_save_after">
        <observer name="virementmaitrise_sales_order_save_after" instance="Virementmaitrise\HyvaPayment\Observer\Sales\OrderSaveAfter" />
    </event>
</config>