<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Config:etc/system_file.xsd">
    <system>
        <section id="payment">
            <group id="virementmaitrise" translate="label comment" type="text" sortOrder="1" showInDefault="1" showInWebsite="1" showInStore="1">
                <label>Simplified Transfer</label>
                <comment><![CDATA[Pay instantly and securely directly from your bank account.<br>Collect payments without any credit limit. Reduce your transaction fees by 40%!]]></comment>
                <fieldset_css>fintecture-admin-section</fieldset_css>
                <frontend_model>Virementmaitrise\HyvaPayment\Block\Adminhtml\System\Config\Fieldset\Payment</frontend_model>

                <field id="documentation" type="text" translate="label comment" sortOrder="1" showInDefault="1" showInWebsite="1" showInStore="1">
                    <frontend_model>Virementmaitrise\HyvaPayment\Block\Adminhtml\System\Config\Information\Documentation</frontend_model>
                </field>

                <group id="general" translate="label" type="text" sortOrder="1" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Settings</label>

                    <field id="active" translate="label" type="select" sortOrder="1" showInDefault="1" showInWebsite="1" showInStore="1">
                        <label>Enabled</label>
                        <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                        <config_path>payment/virementmaitrise/active</config_path>
                    </field>

                    <field id="title" translate="label" type="text" sortOrder="5" showInDefault="1" showInWebsite="1" showInStore="1">
                        <label>Title</label>
                        <config_path>payment/virementmaitrise/title</config_path>
                    </field>

                    <field id="environment" translate="label" type="select" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="1">
                        <label>Environment</label>
                        <source_model>Virementmaitrise\HyvaPayment\Model\Environment</source_model>
                        <config_path>payment/virementmaitrise/environment</config_path>
                    </field>

                    <!-- SANDBOX START -->
                    <field id="virementmaitrise_app_id_sandbox" translate="label comment" type="text" sortOrder="25" showInDefault="1" showInWebsite="1" showInStore="1">
                        <label>Virement Maitrisé APP ID</label>
                        <depends>
                            <field id="environment">sandbox</field>
                        </depends>
                        <validate>required-entry</validate>
                        <comment>Sandbox</comment>
                        <config_path>payment/virementmaitrise/virementmaitrise_app_id_sandbox</config_path>
                    </field>

                    <field id="virementmaitrise_app_secret_sandbox" translate="label comment" type="obscure" sortOrder="30" showInDefault="1" showInWebsite="1" showInStore="1">
                        <label>Virement Maitrisé APP secret</label>
                        <depends>
                            <field id="environment">sandbox</field>
                        </depends>
                        <comment>Sandbox</comment>
                        <validate>required-entry</validate>
                        <config_path>payment/virementmaitrise/virementmaitrise_app_secret_sandbox</config_path>
                        <backend_model>Magento\Config\Model\Config\Backend\Encrypted</backend_model>
                    </field>

                    <field id="custom_file_upload_sandbox" translate="label" type="Virementmaitrise\HyvaPayment\Model\Config\File\PemFile" sortOrder="35" showInDefault="1" showInWebsite="1" showInStore="1">
                        <label>Virement Maitrisé private key</label>
                        <depends>
                            <field id="environment">sandbox</field>
                        </depends>
                        <config_path>payment/virementmaitrise/custom_file_upload_sandbox</config_path>
                        <backend_model>Virementmaitrise\HyvaPayment\Model\Config\File\PrivateKeyPem</backend_model>
                        <upload_dir config="system" scope_info="1">lib/app_private_key_sandbox</upload_dir>
                    </field>
                    <!-- SANDBOX END -->

                    <!-- PRODUCTION START -->
                    <field id="virementmaitrise_app_id_production" translate="label comment" type="text" sortOrder="40" showInDefault="1" showInWebsite="1" showInStore="1">
                        <label>Virement Maitrisé APP ID</label>
                        <depends>
                            <field id="environment">production</field>
                        </depends>
                        <comment>Production</comment>
                        <validate>required-entry</validate>
                        <config_path>payment/virementmaitrise/virementmaitrise_app_id_production</config_path>
                    </field>

                    <field id="virementmaitrise_app_secret_production" translate="label comment" type="obscure" sortOrder="45" showInDefault="1" showInWebsite="1" showInStore="1">
                        <label>Virement Maitrisé APP secret</label>
                        <depends>
                            <field id="environment">production</field>
                        </depends>
                        <comment>Production</comment>
                        <validate>required-entry</validate>
                        <config_path>payment/virementmaitrise/virementmaitrise_app_secret_production</config_path>
                        <backend_model>Magento\Config\Model\Config\Backend\Encrypted</backend_model>
                    </field>

                    <field id="custom_file_upload_production" translate="label" type="Virementmaitrise\HyvaPayment\Model\Config\File\PemFile" sortOrder="50" showInDefault="1" showInWebsite="1" showInStore="1">
                        <label>Virement Maitrisé private key</label>
                        <depends>
                            <field id="environment">production</field>
                        </depends>
                        <config_path>payment/virementmaitrise/custom_file_upload_production</config_path>
                        <backend_model>Virementmaitrise\HyvaPayment\Model\Config\File\PrivateKeyPem</backend_model>
                        <upload_dir config="system" scope_info="1">lib/app_private_key_production</upload_dir>
                    </field>

                    <field id="button_id" translate="label" type="button" sortOrder="55" showInDefault="1" showInWebsite="1" showInStore="1">
                        <frontend_model>Virementmaitrise\HyvaPayment\Block\System\Config\Button</frontend_model>
                    </field>
                    <!-- PRODUCTION END -->
                </group>

                <!-- Start payment options -->
                <group id="payment_options" translate="label" type="text" sortOrder="20" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Payment options</label>

                    <field id="sort_order" translate="label" type="text" sortOrder="1" showInDefault="1" showInWebsite="1" showInStore="1">
                        <label>Sort order</label>
                        <frontend_class>validate-number</frontend_class>
                        <config_path>payment/virementmaitrise/sort_order</config_path>
                    </field>

                    <field id="allowspecific" translate="label" type="allowspecific" sortOrder="5" showInDefault="1" showInWebsite="1" showInStore="1" canRestore="1">
                        <label>Payment from applicable countries</label>
                        <config_path>payment/virementmaitrise/allowspecific</config_path>
                        <source_model>Magento\Payment\Model\Config\Source\Allspecificcountries</source_model>
                    </field>

                    <field id="specificcountry" translate="label" type="multiselect" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="1">
                        <label>Payment from specific countries</label>
                        <config_path>payment/virementmaitrise/specificcountry</config_path>
                        <source_model>Magento\Directory\Model\Config\Source\Country</source_model>
                        <can_be_empty>1</can_be_empty>
                    </field>
                </group>
                <!-- End payment options -->

                <!-- Start design options -->
                <group id="design_options" translate="label" type="text" sortOrder="30" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Design options</label>

                    <field id="checkout_design_selection" translate="label comment" type="radios" sortOrder="1" showInDefault="1" showInWebsite="1" showInStore="1">
                        <label>Checkout design</label>
                        <comment>Please select the message you want to display on your checkout page, depending on the payment solutions you have.</comment>
                        <source_model>Virementmaitrise\HyvaPayment\Model\Config\Options\CheckoutDesignSelectionOptions</source_model>
                        <config_path>payment/virementmaitrise/checkout_design_selection</config_path>
                    </field>
                </group>
                <!-- End design options -->
                
                <!-- Start advanced options -->
                <group id="virementmaitrise_advanced" translate="label" type="text" sortOrder="40" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Advanced settings</label>
                    <field id="version" type="text" translate="label comment" sortOrder="0" showInDefault="1" showInWebsite="1" showInStore="1">
                        <frontend_model>Virementmaitrise\HyvaPayment\Block\Adminhtml\System\Config\Form\Version</frontend_model>
                    </field>

                    <group id="virementmaitrise_advanced_invoicing" translate="label" type="text" sortOrder="1" showInDefault="1" showInWebsite="1" showInStore="1">
                        <label>Invoicing</label>
                        
                        <field id="invoicing_active" translate="label" type="select" sortOrder="1" showInDefault="1" showInWebsite="1" showInStore="1">
                            <label>Enable invoice generation for paid orders</label>
                            <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                            <config_path>payment/virementmaitrise/invoicing_active</config_path>
                        </field>
                    </group>

                    <group id="virementmaitrise_advanced_smart_transfer" translate="label" type="text" sortOrder="5" showInDefault="1" showInWebsite="1" showInStore="1">
                        <label>Classic Transfer</label>

                        <field id="custom_reconciliation_field_active" translate="label" type="select" sortOrder="1" showInDefault="1" showInWebsite="1" showInStore="1">
                            <label>Enable custom field for the reconciliation</label>
                            <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                            <config_path>payment/virementmaitrise/custom_reconciliation_field_active</config_path>
                        </field>
                        
                        <field id="custom_reconciliation_field" translate="label" type="select" sortOrder="5" showInDefault="1" showInWebsite="1" showInStore="1">
                            <label>Custom field for the reconciliation</label>
                            <source_model>Virementmaitrise\HyvaPayment\Model\CustomReconciliationField</source_model>
                            <config_path>payment/virementmaitrise/custom_reconciliation_field</config_path>
                        </field>
                    </group>

                    <group id="virementmaitrise_advanced_mapping" translate="label" type="text" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="1">
                        <label>Payment status mapping between Virement Maitrisé and Magento</label>
                        
                        <field id="new_order_status" translate="label" type="select" sortOrder="1" showInDefault="1" showInWebsite="1" showInStore="1">
                            <label>New order status</label>
                            <source_model>Virementmaitrise\HyvaPayment\Model\StatusMapping</source_model>
                            <config_path>payment/virementmaitrise/new_order_status</config_path>
                        </field>

                        <field id="payment_created_status" translate="label" type="select" sortOrder="5" showInDefault="1" showInWebsite="1" showInStore="1">
                            <label>Accepted payment</label>
                            <source_model>Virementmaitrise\HyvaPayment\Model\StatusMapping</source_model>
                            <config_path>payment/virementmaitrise/payment_created_status</config_path>
                        </field>

                        <field id="payment_pending_status" translate="label" type="select" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="1">
                            <label>Pending payment</label>
                            <source_model>Virementmaitrise\HyvaPayment\Model\StatusMapping</source_model>
                            <config_path>payment/virementmaitrise/payment_pending_status</config_path>
                        </field>

                        <field id="payment_overpaid_status" translate="label" type="select" sortOrder="15" showInDefault="1" showInWebsite="1" showInStore="1">
                            <label>Overpaid payment</label>
                            <source_model>Virementmaitrise\HyvaPayment\Model\StatusMapping</source_model>
                            <config_path>payment/virementmaitrise/payment_overpaid_status</config_path>
                        </field>

                        <field id="payment_partial_status" translate="label" type="select" sortOrder="20" showInDefault="1" showInWebsite="1" showInStore="1">
                            <label>Partial payment</label>
                            <source_model>Virementmaitrise\HyvaPayment\Model\StatusMapping</source_model>
                            <config_path>payment/virementmaitrise/payment_partial_status</config_path>
                        </field>

                        <field id="payment_failed_status" translate="label" type="select" sortOrder="25" showInDefault="1" showInWebsite="1" showInStore="1">
                            <label>Failed payment</label>
                            <source_model>Virementmaitrise\HyvaPayment\Model\StatusMapping</source_model>
                            <config_path>payment/virementmaitrise/payment_failed_status</config_path>
                        </field>

                        <field id="refunded_status" translate="label" type="select" sortOrder="30" showInDefault="1" showInWebsite="1" showInStore="1">
                            <label>Refund</label>
                            <source_model>Virementmaitrise\HyvaPayment\Model\StatusMapping</source_model>
                            <config_path>payment/virementmaitrise/refunded_status</config_path>
                        </field>

                        <field id="partial_refund_status" translate="label" type="select" sortOrder="35" showInDefault="1" showInWebsite="1" showInStore="1">
                            <label>Partial refund</label>
                            <source_model>Virementmaitrise\HyvaPayment\Model\StatusMapping</source_model>
                            <config_path>payment/virementmaitrise/partial_refund_status</config_path>
                        </field>
                    </group>

                    <group id="virementmaitrise_refund" translate="label" type="text" sortOrder="15" showInDefault="1" showInWebsite="1" showInStore="1">
                        <label>Refund</label>
                        
                        <field id="refund_statuses_active" translate="label" type="select" sortOrder="1" showInDefault="1" showInWebsite="1" showInStore="1">
                            <label>Enable change of order status for refunds</label>
                            <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                            <config_path>payment/virementmaitrise/refund_statuses_active</config_path>
                        </field>
                    </group>

                    <group id="virementmaitrise_advanced_expiration" translate="label" type="text" sortOrder="20" showInDefault="1" showInWebsite="1" showInStore="1">
                        <label>Automatic expiration of pending orders</label>
                        
                        <field id="expiration_active" translate="label" type="select" sortOrder="1" showInDefault="1" showInWebsite="1" showInStore="1">
                            <label>Enable automatic expiration of pending orders</label>
                            <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                            <config_path>payment/virementmaitrise/expiration_active</config_path>
                        </field>
    
                        <field id="expiration_after" translate="label comment" type="text" sortOrder="5" showInDefault="1" showInWebsite="1" showInStore="1">
                            <label>Automatic expiration of pending orders after</label>
                            <comment>In minutes. Minimum value: 3</comment>
                            <config_path>payment/virementmaitrise/expiration_after</config_path>
                            <validate>validate-number validate-greater-than-zero validate-number-range number-range-3-9999</validate>
                        </field>
                    </group>

                    <group id="virementmaitrise_advanced_loginas" translate="label" type="text" sortOrder="25" showInDefault="1" showInWebsite="1" showInStore="1">
                        <label>Alternative payment methods for 'Login as Customer' feature</label>
                        
                        <field id="alternative_method_active" translate="label comment" type="select" sortOrder="1" showInDefault="1" showInWebsite="1" showInStore="1">
                            <label>Enable alternative payment methods for 'Login as Customer' feature</label>
                            <comment>Not available in all Magento versions. Check the GitHub page of our Magento plugin for conditions.</comment>
                            <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                            <config_path>payment/virementmaitrise/alternative_method_active</config_path>
                        </field>

                        <field id="alternative_method" translate="label" type="select" sortOrder="5" showInDefault="1" showInWebsite="1" showInStore="1">
                            <label>Choose the alternative payment method for 'Login as Customer' feature</label>
                            <source_model>Virementmaitrise\HyvaPayment\Model\AlternativeMethod</source_model>
                            <config_path>payment/virementmaitrise/alternative_method</config_path>
                        </field>
                    </group>
                </group>
                <!-- End advanced options -->
            </group>
        </section>
    </system>
</config>